{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

    <div class="container-fluid text-center p-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row align-items-center">
            <div class="col-lg">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='ChropfChroetteSquare.png') }}"
                         class="img-fluid mx-auto d-block"
                         alt="ChropfChroette Logo"
                    >
                </a>
            </div>
            <div class="col-lg">
                <h1 class="text-center my-4">Badenfahrt 2027:
                    <p><a href="https://badenfahrt.ch/" target="_blank"
                              class="text-dark">ECHO</a></p>
                </h1>
                <h2>D'Chropf Chrötte send weder debii!</h2>
                <h2 class="mt-5" id="countdown"></h2>

                <form class="row g-3 justify-content-center my-4" method="POST">
                    <div class="col-auto">
                        {{ form.email.label(class='visually-hidden', for="inputEmail") }}
                        {{ form.email(class="form-control", id="inputEmail", placeholder=form
                        .email.label.text) }}
                    </div>
                    <div class="col-auto">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {{ form.submit(class="btn btn-primary mb-3") }}
                    </div>
                </form>

            </div>
        </div>
    </div>


    <script>
        // Set the target date
        const targetDate = new Date('2027-08-20T00:00:00');
        const countdownEl = document.getElementById('countdown');

        function updateCountdown() {
            const now = new Date();
            const diff = targetDate - now;

            if (diff <= 0) {
                countdownEl.textContent = "The event has started!";
                clearInterval(timer);
                return;
            }

            const days = Math.floor(diff / (1000 * 60 * 60 * 24));
            const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
            const minutes = Math.floor((diff / (1000 * 60)) % 60);
            const seconds = Math.floor((diff / 1000) % 60);

            countdownEl.textContent =
                `Nor no ${days} Täg ${hours}, Stonde ond ${minutes} Minute`;
        }

        updateCountdown();
        const timer = setInterval(updateCountdown, 1000);
    </script>
{% endblock %}
